<table class="info">
  <tr>
    <td>Servers:</td> 
    <td id="guilds" class="pop"><%= guilds %></td>
  </tr>
  <tr>
    <td>Users:</td>
    <td id="users" class="pop"><%= users %></td>
  </tr>
  <tr>
    <td>Messages:</td>
    <td id="messages" class="pop"><%= messages %></td>
  </tr>
  <tr>
    <td>Stars:</td>
    <td id="stars" class="pop"><%= stars %></td>
  </tr>
</table>
<nav>
  <a href="/">Home</a>
  <a href="/terms">Terms</a>
  <a href="https://discordapp.com/oauth2/authorize?client_id=349626729226305537&scope=bot&permissions=8" target="_blank">Add Bot</a>
  <a href="https://dim.codes" target="_blank">Dim</a>
  <a href="/api">API</a>
</nav>
<h1>Some of the content may be NSFW</h1>